<div class="row-search">
    <tui-input
        tuiTextfieldIconLeft="@tui.search"
        tuiTextfieldSize="m"
        [style.flex-grow]="1"
        [(ngModel)]="search"
    >
        Search by name
    </tui-input>
    <tui-badged-content>
        <tui-avatar
            tuiSlot="top"
            class="point"
            [style.background-color]="'#FFCD33'"
        />
        <button
            appearance="secondary"
            size="m"
            tuiButton
        >
            <img
                alt=""
                src="./filter.svg"
            />
        </button>
    </tui-badged-content>
    <button
        appearance="whiteblock"
        size="m"
        tuiButton
        [style.background-color]="'#FFCD33'"
    >
        Search
    </button>
</div>
<div
    class="row-search"
    [style.margin-top]="0"
>
    <tui-segmented
        [size]="'s'"
        [style.width]="'max-content'"
    >
        <button>
            <tui-icon icon="@tui.sun" />
            All
        </button>
        <button>Incoming</button>
        <button>Outgoing</button>
    </tui-segmented>
    <section>
        <tui-chip
            *tuiRepeatTimes="let i of 3"
            appearance=""
        >
            Radio {{ i + 1 }}
            <input
                appearance="whiteblock"
                name="radio"
                size="m"
                tuiChip
                type="radio"
                [value]="i"
            />
        </tui-chip>
    </section>
    <label tuiLabel>
        <input
            size="s"
            tuiSwitch
            type="checkbox"
            [style.margin-bottom]="'auto'"
            [style.margin-top]="'auto'"
        />
        Toggle
    </label>
    <div class="verticalLine"></div>
    <div
        tuiSubtitle
        class="result"
    >
        Result: 999
    </div>
    <div class="verticalLine"></div>
    <button
        appearance="link"
        apper
        tuiButton
        [style.padding]="'0.2rem'"
    >
        <img src="./clean.svg" />
        <p>Clean (12)</p>
    </button>
</div>
<table
    tuiTable
    [columns]="columnsTitles"
    [size]="size"
>
    <thead>
        <tr tuiThGroup>
            @for (column of columns; track $index) {
                <th
                    *tuiHead="column.title"
                    tuiTh
                    [sorter]="column.sorter"
                    [sticky]="true"
                >
                    @if (column.title === 'Name') {
                        <div [tuiCell]="size">
                            <input
                                tuiCheckbox
                                type="checkbox"
                                [ngModel]="checked"
                                [size]="'s'"
                                (ngModelChange)="onCheck($event)"
                            />
                            <span tuiTitle>{{ column.title }}</span>
                        </div>
                    } @else {
                        {{ column.title }}
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody tuiTbody>
        <tr
            *ngFor="let item of searchedData() | tuiTableSort"
            tuiTr
        >
            <td
                *tuiCell="'Name'"
                tuiTd
            >
                <div [tuiCell]="size">
                    <input
                        tuiCheckbox
                        type="checkbox"
                        [size]="'s'"
                        [(ngModel)]="item.selected"
                    />
                    <span tuiTitle>
                        {{ item.checkbox.title }}
                        <span tuiSubtitle>{{ item.checkbox.subtitle }}</span>
                    </span>
                </div>
            </td>
            <td
                *tuiCell="'2'"
                tuiTd
            >
                <div [tuiCell]="size">
                    <span tuiTitle>
                        {{ item.analytic.title }}
                        <span tuiSubtitle>{{ item.analytic.subtitle }}</span>
                    </span>
                </div>
            </td>
            <td
                *tuiCell="'3'"
                tuiTd
            >
                <div [tuiCell]="size">
                    <span tuiTitle>
                        <span tuiStatus>
                            <tui-icon [icon]="item.file.icon" />
                            {{ item.file.title }}
                            <tui-chip *ngIf="item.file.chip && item.file.subtitle">{{ item.file.chip }}</tui-chip>
                        </span>
                        <tui-chip *ngIf="!item.file.subtitle && item.file.chip; else subtitle">
                            {{ item.file.chip }}
                        </tui-chip>
                        <ng-template #subtitle>
                            <span tuiSubtitle>
                                {{ item.file.subtitle }}
                            </span>
                        </ng-template>
                    </span>
                </div>
            </td>
            <td
                *tuiCell="'4'"
                tuiTd
            >
                <div [tuiCell]="size">
                    <span tuiTitle>
                        <span tuiStatus>
                            <tui-icon [icon]="item.file.icon" />
                            {{ item.file.title }}
                            <span tuiSubtitle>
                                {{ item.file.subtitle }}
                            </span>
                            <tui-icon
                                icon="./table/question.svg"
                                [style.cursor]="'pointer'"
                            />
                        </span>
                    </span>
                </div>
            </td>
            <td
                *tuiCell="'5'"
                tuiTd
            >
                <div [tuiCell]="size">
                    <span tuiTitle>
                        {{ item.date.time }}
                        <tui-chip>{{ item.date.chip }}</tui-chip>
                    </span>
                </div>
            </td>
            <td
                *tuiCell="'6'"
                tuiTd
            >
                <div [tuiCell]="size">
                    <tui-avatar
                        [src]="item.cell.name | tuiInitials"
                        [style.background]="item.cell.name | tuiAutoColor"
                    />
                    <span tuiTitle>
                        {{ item.cell.name }}
                        <span tuiSubtitle>{{ item.cell.email }}</span>
                    </span>
                </div>
            </td>
            <td
                *tuiCell="'7'"
                tuiTd
            >
                <div [tuiCell]="size">
                    <tui-avatar
                        src="./table/person.svg"
                        [style.background]="item.cell.name | tuiAutoColor"
                    />
                    <span tuiTitle>
                        {{ item.cell.name }}
                    </span>
                    <span tuiSubtitle>{{ item.cell.email }}</span>
                </div>
            </td>
            <td
                *tuiCell="'8'"
                tuiTd
            >
                <span [tuiStatus]="item.status.color">{{ item.status.value }}</span>
            </td>
            <td
                *tuiCell="'9'"
                tuiTd
            >
                <tui-items-with-more [style.gap.rem]="0.25">
                    <ng-container *ngFor="let chip of item.labels">
                        <tui-badge *tuiItem>
                            <tui-icon icon="./table/lock.svg" />
                            {{ chip }}
                        </tui-badge>
                    </ng-container>
                    <ng-template
                        let-number
                        tuiMore
                    >
                        <button
                            appearance="icon"
                            tuiDropdownAlign="right"
                            tuiDropdownOpen
                            tuiLink
                            [pseudo]="true"
                            [tuiDropdown]="dropdown"
                        >
                            + {{ item.labels.length - number - 1 }}
                        </button>
                        <ng-template #dropdown>
                            <div
                                tuiStatus
                                [style.padding.rem]="1"
                            >
                                <ng-container *ngFor="let chip of item.labels; let index = index">
                                    <tui-badge *ngIf="index > number">
                                        <tui-icon icon="./table/lock.svg" />
                                        {{ chip }}
                                    </tui-badge>
                                </ng-container>
                            </div>
                        </ng-template>
                    </ng-template>
                </tui-items-with-more>
            </td>
            <td
                *tuiCell="'10'"
                tuiTd
            >
                <tui-items-with-more [style.gap.rem]="0.25">
                    <ng-container *ngFor="let chip of item.tags">
                        <tui-badge *tuiItem>
                            {{ chip }}
                        </tui-badge>
                    </ng-container>
                    <ng-template
                        let-number
                        tuiMore
                    >
                        <button
                            appearance="icon"
                            tuiDropdownAlign="right"
                            tuiDropdownOpen
                            tuiLink
                            [pseudo]="true"
                            [tuiDropdown]="dropdown"
                        >
                            + {{ item.tags.length - number - 1 }}
                        </button>
                        <ng-template #dropdown>
                            <div
                                tuiStatus
                                [style.padding.rem]="1"
                            >
                                <ng-container *ngFor="let chip of item.tags; let index = index">
                                    <tui-badge *ngIf="index > number">
                                        {{ chip }}
                                    </tui-badge>
                                </ng-container>
                            </div>
                        </ng-template>
                    </ng-template>
                </tui-items-with-more>
            </td>
            <td
                *tuiCell="'duration'"
                tuiTd
            >
                <div [tuiCell]="size">
                    <span tuiTitle>
                        {{ item.duration }}
                    </span>
                </div>
            </td>
            <td
                *tuiCell="'progress'"
                tuiTd
            >
                <span tuiStatus>
                    <progress
                        tuiProgressBar
                        [style.width.rem]="6"
                        [value]="item.progress / 100"
                    ></progress>
                    {{ item.progress }}ms
                </span>
            </td>
            <td
                *tuiCell="''"
                tuiTd
            >
                <span tuiStatus>
                    <button
                        appearance="link"
                        iconStart="@tui.pencil"
                        size="xs"
                        tuiIconButton
                    >
                        Edit
                    </button>
                    <button
                        appearance="link"
                        iconStart="@tui.ellipsis"
                        size="xs"
                        tuiButton
                        tuiDropdownOpen
                        type="button"
                        [tuiDropdown]="dropdownContent"
                    >
                        <ng-template #dropdownContent>
                            <div class="dropdown">
                                <button
                                    appearance="link"
                                    iconStart="@tui.move"
                                    size="xs"
                                    tuiButton
                                >
                                    Move
                                </button>
                                <button
                                    appearance="link"
                                    iconStart="@tui.trash-2"
                                    size="xs"
                                    tuiButton
                                    [style.color]="'var(--tui-text-negative)'"
                                >
                                    Delete
                                </button>
                            </div>
                        </ng-template>
                    </button>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<tui-action-bar
    *tuiActionBar="open"
    [expanded]="!!isMobile() && expanded"
    [style.left]="isMobile() ? '1rem' : '4rem'"
>
    <div>
        Selected: {{ selected }} of {{ searchedData().length }}

        <button
            *ngIf="!isMobile()"
            appearance="icon"
            tuiLink
            class="tui-space_left-3"
            [pseudo]="true"
            (click)="toggleSelect()"
        >
            {{ selected < searchedData().length ? 'Select all' : 'Select none' }}
        </button>
    </div>
</tui-action-bar>
