.Safety {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: max-content;
    padding: 20px;
    border: 1px var(--tui-border-normal) solid;
}

.title {
    display: inline-block;
    text-align: center;
    margin: 0;
}
