:host {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 0 !important;
}

.title {
    display: inline-block;
    text-align: center;
    margin: 0;
}

.block-label {
    display: flex;
    justify-content: space-between;
}
