<h3 class="title">Safety</h3>
<form
    orientation="vertical"
    tuiGroup
    class="group"
    [collapsed]="true"
    [formGroup]="safetyForm"
>
    <label
        tuiBlock
        class="block-label"
    >
        Alarm system
        <input
            formControlName="safetyValue1"
            tuiCheckbox
            type="checkbox"
        />
    </label>
    <label
        tuiBlock
        class="block-label"
    >
        Close the curtains
        <input
            formControlName="safetyValue2"
            tuiCheckbox
            type="checkbox"
        />
    </label>
    <label
        tuiBlock
        class="block-label"
    >
        Video monitoring
        <input
            formControlName="safetyValue3"
            tuiCheckbox
            type="checkbox"
        />
    </label>
    <label
        tuiBlock
        class="block-label"
    >
        Enable gas sensor notification
        <input
            formControlName="safetyValue4"
            tuiCheckbox
            type="checkbox"
        />
    </label>
</form>
