<div class="Safety">
    <h3 class="title">Safety</h3>
    <form
        orientation="vertical"
        tuiGroup
        class="group"
        [collapsed]="true"
        [formGroup]="testForm"
    >
        <label
            tuiBlock
            class="BlockLabel"
        >
            Alarm system
            <input
                formControlName="testValue1"
                tuiCheckbox
                type="checkbox"
            />
        </label>
        <label
            tuiBlock
            class="BlockLabel"
        >
            Close the curtains
            <input
                formControlName="testValue2"
                tuiCheckbox
                type="checkbox"
            />
        </label>
        <label
            tuiBlock
            class="BlockLabel"
        >
            Сall security
            <input
                formControlName="testValue3"
                tuiCheckbox
                type="checkbox"
            />
        </label>
    </form>
</div>
