<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
    class="card"
>
    <header tuiHeader>
        <h2
            tuiTitle
            [style.text-align]="'center'"
        >
            Safety
        </h2>
    </header>
    <form
        orientation="vertical"
        tuiGroup
        [collapsed]="true"
    >
        @for (control of safetyForm['controls']; track control; let ind = $index) {
            <label tuiBlock>
                {{ safetyService[ind].name }}
                <input
                    tuiCheckbox
                    type="checkbox"
                    [formControl]="control"
                    [style.margin-left]="'auto'"
                />
            </label>
        }
    </form>
</div>
