.safety {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    height: calc(100% - 2.5rem);
    padding: 1.25rem;
    border: 1px var(--tui-border-normal) solid;
    background-color: #fff;
}

.title {
    display: inline-block;
    text-align: center;
    margin: 0;
}

.group {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 20%;
}

.block-label {
    display: flex;
    justify-content: space-between;
}
