:host {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block-start: 1rem;

    @media (max-width: 570px) {
        grid-template-columns: 1fr;
    }
}

.list-colors {
    display: flex;
    padding-inline-end: 3rem;
    flex-direction: column;
    gap: 1rem;
}

code {
    position: relative;
    margin-block-start: 2rem;
    padding: 1rem;
    background: var(--tui-background-base-alt);
    font-family: monospace;
}

.copy {
    position: absolute;
    inset-inline-end: 0.2rem;
    inset-block-start: 0.2rem;
}

.share {
    margin-block-start: auto;
    margin-block-end: auto;
}

.colors {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.title-colors {
    margin-block: 0;
    font: var(--tui-typography-heading-h6);
}
