<div class="list-colors">
    <div tuiHeader="m">
        <h3
            tuiTitle
            [style.flex-grow]="0"
            [style.margin-bottom]="'auto'"
            [style.margin-top]="'auto'"
        >
            Colors
        </h3>
        <lmb-share-button (click)="share()" />
    </div>
    <div
        class="colors"
        (focusout)="updateQueryParams()"
    >
        @for (group of themeGroups; let i = $index; track i) {
            <h6 class="tui-space_top-0 tui-space_bottom-0 title-colors">{{ group.title }}</h6>
            @for (color of group.colors; let j = $index; track j) {
                <tui-input-color
                    tuiTextfieldSize="m"
                    [colors]="palette"
                    [(ngModel)]="colors[i][j]"
                >
                    {{ color.name }}
                </tui-input-color>
            }
        }
    </div>
    <code>
        <button
            appearance="icon"
            size="m"
            tuiButton
            type="button"
            class="copy"
            [iconStart]="iconCopy()"
            (click)="copy()"
        ></button>
        :root {{ '{' }}
        <br />

        @for (group of themeData; let i = $index; track i) {
            @for (color of group; let j = $index; track j) {
                {{ color.variable }}: {{ colors[i][j]() }};
                <br />
            }
        }
        {{ '}' }}
    </code>
</div>
<lmb-theme-example [theme]="theme" />
