<div class="list-colors">
    <div tuiHeader="h4">
        <h3
            tuiTitle
            [style.flex-grow]="0"
            [style.margin-block-end]="'auto'"
            [style.margin-block-start]="'auto'"
        >
            Colors
        </h3>
        <lmb-share-button (click)="share()" />
    </div>
    <div
        class="colors"
        (focusout)="updateQueryParams()"
    >
        <datalist id="lmb-palette">
            @for (color of palette; track color) {
                <option [value]="color"></option>
            }
        </datalist>
        @for (group of themeGroups; let i = $index; track i) {
            <h6 class="title-colors">{{ group.title }}</h6>
            @for (color of group.colors; let j = $index; track j) {
                <tui-textfield
                    tuiTextfieldSize="m"
                    [tuiTextfieldCleaner]="false"
                >
                    <label tuiLabel>
                        {{ color.name }}
                    </label>

                    <input
                        format="hexa"
                        list="lmb-palette"
                        tuiInputColor
                        [(ngModel)]="colors[i][j]"
                    />
                </tui-textfield>
            }
        }
    </div>
    <code>
        <button
            appearance="icon"
            size="m"
            tuiIconButton
            type="button"
            class="copy"
            [iconStart]="iconCopy()"
            (click)="copy()"
        >
            copy
        </button>
        :root {{ '{' }}
        <br />

        @for (group of themeData; let i = $index; track i) {
            @for (color of group; let j = $index; track j) {
                {{ color.variable }}: {{ colors[i][j]() }};
                <br />
            }
        }
        {{ '}' }}
    </code>
</div>
<lmb-theme-example [theme]="theme()" />
