<div class="list-colors">
    <div tuiHeader="m">
        <h3
            tuiTitle
            [style.flex-grow]="0"
            [style.margin-bottom]="'auto'"
            [style.margin-top]="'auto'"
        >
            Colors
        </h3>
        <button
            appearance="icon"
            size="m"
            tuiButton
            class="share"
            [iconStart]="iconShare()"
            (click)="share()"
        ></button>
    </div>
    @for (inputColor of themeData; track $index) {
        <tui-input-color
            tuiTextfieldSize="m"
            [colors]="palette"
            [(ngModel)]="colors[$index]"
            (ngModelChange)="[colors[$index].set($event), queryParams()]"
        >
            {{ inputColor.name }}
        </tui-input-color>
    }
    <code>
        <button
            appearance="icon"
            size="m"
            tuiButton
            class="copy"
            [iconStart]="iconCopy()"
            (click)="copy()"
        ></button>
        :root {{ '{' }}
        @for (inputColor of themeData; track $index) {
            <br />
            {{ inputColor.variable }}: {{ colors[$index]() }};
        }
        <br />
        {{ '}' }}
    </code>
</div>
<lmb-theme-example [theme]="theme" />
