<div class="list-colors">
    <div tuiHeader="m">
        <h3
            tuiTitle
            [style.flex-grow]="0"
            [style.margin-bottom]="'auto'"
            [style.margin-top]="'auto'"
        >
            Colors
        </h3>
        <button
            appearance="icon"
            size="m"
            tuiButton
            type="button"
            class="share"
            [iconStart]="iconShare()"
            (click)="share()"
        ></button>
    </div>
    <div
        class="colors"
        (focusout)="queryParams()"
    >
        @for (group of themeGroups; track $index) {
            <h6 class="tui-space_top-0 tui-space_bottom-0 title-colors">{{ group.title }}</h6>
            @for (inputColor of group.colors; track $index) {
                <tui-input-color
                    tuiTextfieldSize="m"
                    [colors]="palette"
                    [(ngModel)]="colors[$index]"
                >
                    {{ inputColor.name }}
                </tui-input-color>
            }
        }
    </div>
    <code>
        <button
            appearance="icon"
            size="m"
            tuiButton
            type="button"
            class="copy"
            [iconStart]="iconCopy()"
            (click)="copy()"
        ></button>
        :root {{ '{' }}
        @for (inputColor of themeData; track $index) {
            <br />
            {{ inputColor.variable }}: {{ colors[$index]() }};
        }
        <br />
        {{ '}' }}
    </code>
</div>
<lmb-theme-example [theme]="theme" />
