<nav
    tuiNavigationNav
    [style.position]="'sticky'"
>
    <a routerLink="/">
        <tui-icon icon="@tui.chevron-left" />
        Back
    </a>
    /
    <span tuiNavigationLogo>
        <span tuiFade>{{ type() }}</span>
    </span>
    <hr />
</nav>

@for (card of list(); track $index) {
    <a
        tuiCardLarge
        tuiHeader
        tuiSurface="elevated"
        class="lmb-list-card"
        [routerLink]="card.link"
    >
        <h2 tuiTitle>
            {{ card.title }}
            <span tuiSubtitle>{{ card.description }}</span>
        </h2>
    </a>
}
