@import '@taiga-ui/styles/utils';

:host {
    display: grid;
    // stylelint-disable-next-line plugin/no-unsupported-browser-features, plugin/use-baseline -- older browsers ignore subgrid and fall back to a single grid track
    grid-template-columns: subgrid;
    grid-gap: 1rem;
}

.lmb-list-card {
    grid-column: span 6;
    grid-gap: 1rem;
}

@media @tui-mobile {
    .lmb-list-card {
        grid-column: span 12;
        grid-gap: 1rem;
    }
}
