@media (max-width: 1250px) {
    .tui-row {
        gap: 1rem;
    }

    .tui-col_md-4 {
        width: 100%;
    }
}

.example-block {
    position: sticky;
    top: 7rem;
    background: var(--tui-background-base);
    height: max-content;

    @media (max-width: 570px) {
        display: none;
    }
}

.list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
