<tui-tiles
    class="tiles"
    [debounce]="500"
>
    <div class="cards">
        <app-small-card
            img="/door.svg"
            name="Open the door"
        />
        <app-small-card
            img="/audio.svg"
            name="Play music"
        />
        <app-small-card
            img="/security.svg"
            name="Call security"
        />
        <app-small-card
            img="/audio.svg"
            name="Turn up the heat"
        />
        <app-small-card
            img="/audio.svg"
            name="Turn on the kettle"
        />
    </div>
    <div class="column">
        <div class="row">
            <div class="grow"><app-safety /></div>
            <div class="grow"><app-line-chart /></div>
            <div class="grow"><app-climate-control /></div>
        </div>
        <div class="row">
            <div class="grow"><app-lighting /></div>
            <div class="grow"><app-bar-chart /></div>
            <div class="grow"><app-cleaning /></div>
        </div>
    </div>
</tui-tiles>
