@import '@taiga-ui/core/styles/taiga-ui-local.less';

.tiles {
    gap: 1rem;
    padding-top: 20px;
}

.tiles-block {
    max-width: 500px;
}

.cards {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.group2 {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    gap: 20px;
}

.group3 {
    display: flex;
    flex: 1;
}

.grow {
    width: 100%;
}

.row {
    position: relative;
    display: grid;
    flex: 0 0 auto;
    grid-template-columns: 4fr 6fr 4fr;
    gap: 15px;
}

@media (max-width: 900px) {
    .row {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }

    .grow {
        height: max-content;
    }
}

@media (max-width: 570px) {
    .grow {
        width: 100%;
    }
}

.column {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    flex-direction: column;
}

@media (max-width: 800px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .cards {
        display: flex;
    }

    .grow2 {
        width: 100%;
        height: 100%;
    }
}
