@import '@taiga-ui/core/styles/taiga-ui-local.less';

.tiles {
    gap: 1rem;
    padding-top: 1.25rem;
}

:host {
    isolation: isolate;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: var(--tui-background-base-alt);
    width: calc(100% - 3rem);
}

:host:before {
    content: '';
    position: sticky;
    top: 3rem;
    z-index: 2;
    display: block;
    height: 3rem;
    width: calc(100% + 2.5rem);
    pointer-events: none;
    margin: 0 -1.25rem -3rem;
    border-radius: 1.25rem 1.25rem 0 0;
    box-shadow: 0 -1.25rem var(--tui-theme-color, #000);
}

.grow {
    width: 100%;
    background-color: var(--tui-background-base);
}

.row {
    position: relative;
    display: grid;
    flex: 0 0 auto;
    grid-template-columns: 4fr 6fr 4fr;
    gap: 1rem;
}

@media (max-width: 56.25rem) {
    .row {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }

    .grow {
        height: max-content;
    }
}

@media (max-width: 35.625rem) {
    .grow {
        width: 100%;
    }
}

.column {
    display: flex;
    gap: 0.625rem;
    padding-top: 1.25rem;
    flex-direction: column;
}
