@import '@taiga-ui/core/styles/taiga-ui-local.less';

.tiles {
    gap: 1rem;
    padding-top: 1.25rem;
}

.top {
    display: grid;
    padding-top: 1.25rem;
    grid-template-columns: 19fr 20fr;
    gap: 1rem;

    @media (max-width: 1100px) {
        grid-template-columns: 20fr;
    }
}

.under-top {
    display: grid;
    grid-template-columns: 11fr 9fr;
    gap: 1rem;
    min-height: 400px;
}

.middle {
    display: grid;
    padding-top: 1.25rem;
    grid-template-columns: 9fr 15fr;
    gap: 1rem;
}

.bottom {
    display: grid;
    padding-top: 1.25rem;
    grid-template-columns: 8fr 15fr 8fr;
    gap: 1rem;
}

.grow {
    width: 100%;
}

.row {
    position: relative;
    display: grid;
    flex: 0 0 auto;
    grid-template-columns: 4fr 6fr 4fr;
    gap: 1rem;
}

.column {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: column;
}

@media (max-width: 56.25rem) {
    .row {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }

    .grow {
        height: max-content;
    }
}

@media (max-width: 35.625rem) {
    .grow {
        width: 100%;
    }
}
