:host {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    min-height: calc(100% - 2.5rem);
    flex-shrink: 0;
    padding: 1.25rem;
    border: 1px var(--tui-border-normal) solid;
    background-color: var(--tui-background-base);
}

.title {
    display: inline-block;
    text-align: center;
    margin: 0;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 1.875rem;
}
