@import '@taiga-ui/core/styles/taiga-ui-local.less';

[tuiCardLarge] [tuiCell][data-size='l'] {
    margin: 0;

    &:not(:last-child) {
        border-radius: 0;
        box-shadow: 0 1px var(--tui-border-normal);
    }

    &:hover {
        background-color: var(--tui-background-neutral-1-hover);
    }

    &:active {
        background-color: var(--tui-background-neutral-1-pressed);
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.axes {
    height: 12.5rem;
}

.period {
    width: 2.5rem;
    height: 1.5rem;
}

.color() {
    color: var(--tui-chart-categorical-07);
}

.chart {
    .color();
    .fullsize();
}
