@let token = form.controls.name.value;
@let symbol = form.controls.symbol.value;
@let icon = form.controls.urlIcon.value;
@let description = form.controls.description.value;
<form
    [formGroup]="form"
    (submit)="onSubmit()"
>
    <div class="info block-input">
        <div tuiCell="l">
            <tui-avatar
                size="xl"
                [src]="!openDialog && icon !== '' ? icon : '@tui.pencil'"
                (click)="showDialog()"
            />
            <div tuiTitle>
                {{ token == '' ? 'Jetton Name' : token }} ({{ symbol == '' ? 'Symbol' : symbol }})
                <div tuiSubtitle>{{ description == '' ? 'Description' : description }}</div>
            </div>
        </div>
    </div>
    <tui-input
        formControlName="name"
        tuiHintContent="Your project name with spaces"
    >
        Jetton Name
        <input tuiTextfieldLegacy />
    </tui-input>

    <tui-error
        formControlName="name"
        class="block-input"
        [error]="[] | tuiFieldError | async"
    />

    <tui-input
        formControlName="symbol"
        tuiHintContent="Currency symbol appearing in balance (usually 3-5 uppercase chars)"
    >
        Jetton Symbol
        <input tuiTextfieldLegacy />
    </tui-input>
    <tui-error
        formControlName="symbol"
        class="block-input"
        [error]="[] | tuiFieldError | async"
    />

    <tui-input-number
        formControlName="amount"
        tuiHintContent="Number of initial tokens to mint and send to your waller address"
    >
        Number of tokens
        <input tuiTextfieldLegacy />
    </tui-input-number>
    <tui-error
        formControlName="amount"
        class="block-input"
        [error]="[] | tuiFieldError | async"
    />

    <tui-input
        formControlName="description"
        tuiHintContent="Optional sentence explaining about yor project"
    >
        Description
        <input tuiTextfieldLegacy />
    </tui-input>
    <tui-error
        formControlName="description"
        class="block-input"
        [error]="[] | tuiFieldError | async"
    />

    <button
        tuiButton
        type="submit"
        [style.margin-top]="'auto'"
    >
        Deploy
    </button>
    <ng-template
        let-observer
        [tuiDialogOptions]="{label: 'Edit logo', size: 's', closeable: false, dismissible: false}"
        [(tuiDialog)]="openDialog"
    >
        <p>URL of 256x256 pixel PNG image of token logo</p>
        <tui-input
            formControlName="urlIcon"
            tuiAutoFocus
        >
            Logo token
        </tui-input>
        <tui-error
            formControlName="urlIcon"
            class="block-input"
            [error]="[] | tuiFieldError | async"
            [style.text-align]="'center'"
        />

        <p>
            <button
                tuiButton
                (click)="icon !== '' ? observer.complete() : ''"
            >
                Submit
            </button>
        </p>
    </ng-template>
</form>
