<div class="lighting">
    <h3 class="title">Lighting</h3>
    <form
        orientation="vertical"
        tuiGroup
        class="group"
        [collapsed]="true"
        [formGroup]="testForm"
    >
        @if (testForm.get('testValue1')!.value) {
            <label
                tuiBlock
                class="block-label checked"
            >
                <div class="left-size">
                    <input
                        formControlName="testValue1"
                        tuiCheckbox
                        type="checkbox"
                        class="hidden"
                    />
                    Kitchen
                </div>
                <img
                    alt=""
                    src="/light.svg"
                    class="light-svg"
                />
            </label>
        } @else {
            <label
                tuiBlock
                class="block-label"
            >
                <div class="left-size">
                    <input
                        formControlName="testValue1"
                        tuiCheckbox
                        type="checkbox"
                        class="hidden"
                    />
                    Kitchen
                </div>
            </label>
        }
        @if (testForm.get('testValue2')!.value) {
            <label
                tuiBlock
                class="block-label checked"
            >
                <div class="left-size">
                    <input
                        formControlName="testValue2"
                        tuiCheckbox
                        type="checkbox"
                        class="hidden"
                    />
                    Bedroom
                </div>
                <img
                    alt=""
                    src="/light.svg"
                    class="light-svg"
                />
            </label>
        } @else {
            <label
                tuiBlock
                class="block-label"
            >
                <div class="left-size">
                    <input
                        formControlName="testValue2"
                        tuiCheckbox
                        type="checkbox"
                        class="hidden"
                    />
                    Bedroom
                </div>
            </label>
        }
        @if (testForm.get('testValue3')!.value) {
            <label
                tuiBlock
                class="block-label checked"
            >
                <div class="left-size">
                    <input
                        formControlName="testValue3"
                        tuiCheckbox
                        type="checkbox"
                        class="hidden"
                    />
                    Living room
                </div>
                <img
                    alt=""
                    src="/light.svg"
                    class="light-svg"
                />
            </label>
        } @else {
            <label
                tuiBlock
                class="block-label"
            >
                <div class="left-size">
                    <input
                        formControlName="testValue3"
                        tuiCheckbox
                        type="checkbox"
                        class="hidden"
                    />
                    Living room
                </div>
            </label>
        }
    </form>
</div>
