.lighting {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: calc(100% - 40px);
    flex-shrink: 0;
    padding: 20px;
    border: 1px var(--tui-border-normal) solid;
    background-color: #fff;
}

.title {
    display: inline-block;
    text-align: center;
    margin: 0;
}

.light-svg {
    width: 30px;
    height: 30px;
}

.left-size {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.block-label {
    justify-content: space-between;
}

.checked {
    background-color: #fcba1414;
}

.hidden {
    display: none;
}

.group {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 20%;
}
