<h3 class="tui-space_top-0">Lighting</h3>
<form
    orientation="vertical"
    tuiGroup
    [collapsed]="true"
    [formGroup]="safetyForm"
>
    <label
        *ngFor="let name of namesRoom"
        tuiBlock
        [ngClass]="{checked: safetyForm.get(name)!.value}"
    >
        <div>
            <input
                tuiCheckbox
                type="checkbox"
                [formControlName]="name"
                [style.display]="'none'"
            />
            {{ name }}
        </div>
        <tui-icon
            alt=""
            icon="@tui.lightbulb"
            class="light-svg"
            [ngClass]="{hidden: !safetyForm.get(name)!.value}"
            [style.color]="'var(--tui-chart-categorical-12)'"
        />
    </label>
</form>
