:host {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    min-height: calc(min(22.875rem, 100% - 2.625rem));
    flex-shrink: 0;
    margin-top: 0 !important;
}

.title {
    display: inline-block;
    text-align: center;
    margin: 0;
}

.light-svg {
    width: 1.875rem;
    height: 1.875rem;
}

.left-size {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.block-label {
    justify-content: space-between;
}

.checked {
    background-color: #fcba1414;
}

.hidden {
    display: none;
}

.group {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 20%;
}
