:host {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding: 1.25rem;
    min-height: calc(100% - 2.625rem);
    border: 1px var(--tui-border-normal) solid;
    background-color: var(--tui-background-base);
    text-align: center;
}

.add-button {
    max-width: 7rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.percent {
    font: var(--tui-font-text-l);
}

tui-progress-circle {
    transition: color 2s;
}

.input-date {
    width: 10rem;
}

.timetable {
    display: flex;
    gap: 0.625rem;
}
