:host {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 0 !important;
    min-height: calc(100% - 2.625rem);
    text-align: center;
}

.add-button {
    max-width: 7rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.percent {
    font: var(--tui-font-text-m);
}

tui-progress-circle {
    transition: color 2s;
}

.input-date {
    width: 10rem;
}

.timetable {
    display: flex;
    gap: 0.625rem;
}
