:host {
    padding: 2rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;

    @media (max-width: 86.25rem) {
        justify-content: center;
    }
}

.tags {
    margin-top: 0.3rem;
}
