@let animal = animals[id];
@let value = value$ | async;
<div class="info">
    <tui-avatar
        [size]="'xxl'"
        [src]="animal.src"
        [style.border-radius]="'9rem'"
        [style.height]="'9rem'"
        [style.width]="'9rem'"
    />
    <header tuiHeader>
        <h3 tuiTitle>
            {{ animal.title }}
            <div
                [style.align-items]="'center'"
                [style.display]="'flex'"
                [style.gap]="'0.5rem'"
            >
                <span tuiSubtitle>Health:</span>
                <tui-badge
                    tuiStatus
                    [appearance]="animal.health === 'good' || value === max ? 'success' : 'warning'"
                >
                    {{ value === max ? 'good' : animal.health }}
                </tui-badge>
            </div>
            <div class="tags">
                @for (tag of animal.tags; track $index) {
                    <tui-badge appearance="primary">{{ tag }}</tui-badge>
                }
            </div>
        </h3>
    </header>
</div>
<div class="main">
    <div
        tuiAppearance="whiteblock"
        tuiCardLarge="normal"
        class="card"
    >
        <header tuiHeader>
            <h2
                tuiTitle
                [style.text-align]="'center'"
            >
                About animal
            </h2>
        </header>
        <div>
            <h3 class="about">From: {{ animal.from }}</h3>
            <h4 class="about">Description: {{ animal.about }}</h4>
        </div>
    </div>
    <div
        tuiAppearance="whiteblock"
        tuiCardLarge="normal"
        class="card"
    >
        <header tuiHeader>
            <h2
                tuiTitle
                [style.text-align]="'center'"
            >
                Process
            </h2>
        </header>
        <div class="list">
            @for (act of animal.action; track $index) {
                <div
                    [style.display]="'flex'"
                    [style.gap]="'1rem'"
                >
                    <button
                        tuiCardLarge="normal"
                        tuiSurface="elevated"
                        class="card"
                        [style.margin-bottom]="'auto'"
                        [style.margin-top]="'auto'"
                        (click)="states[$index] = !states[$index]"
                    >
                        <h3
                            tuiTitle="m"
                            class="tui-space_top-0 tui-space_bottom-0"
                        >
                            {{ act }}
                        </h3>
                    </button>
                    @if (states[$index]) {
                        <label
                            *ngIf="value"
                            tuiProgressLabel
                            [style.width]="'max-content'"
                        >
                            <span class="text">COMPLETED</span>
                            <span class="percent">{{ value }}%</span>

                            <tui-progress-circle
                                size="l"
                                [max]="max"
                                [value]="value"
                            />
                        </label>
                    } @else {
                        <div
                            [style.height]="'5rem'"
                            [style.width]="'5rem'"
                        ></div>
                    }
                </div>
            }
        </div>
    </div>
</div>
