:host {
    padding: 2rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;

    @media (max-width: 86.25rem) {
        justify-content: center;
    }
}

.tags {
    margin-top: 0.3rem;
}

.main {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.card {
    flex-grow: 1;
}

.about {
    margin: 0.3rem 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.text {
    font-size: 0.625rem;
    color: var(--tui-text-tertiary);
}

.percent {
    font: var(--tui-font-heading-7);
}

.list {
    display: flex;
    flex-direction: column;
}
