:host {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 0.625rem;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 50rem) and (min-width: 31.35rem) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.text {
    font: var(--tui-font-heading-6);
    margin-top: auto;
    margin-bottom: auto;
}

.button-card {
    max-width: max-content;
    padding-right: 1.75rem;
    gap: 1rem;

    @media (max-width: 50rem) {
        width: 100%;
        max-width: 100%;
    }

    @media (max-width: 31.25rem) {
        width: calc(100vw - 5.5rem);
        max-width: calc(100vw - 5.5rem);
        flex-shrink: 0;
    }
}

div:last-child {
    grid-column-end: 3;
    grid-column-start: 1;
}
