:host {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 0.625rem;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 50rem) and (min-width: 31.35rem) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.text {
    font: var(--tui-font-heading-6);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

[tuiHeader] [tuiAccessories] {
    gap: 0;
}

.button-card {
    display: flex;
    max-inline-size: max-content;
    align-items: center;
    padding-right: 1.75rem;
    gap: 1rem;

    @media (max-width: 50rem) {
        inline-size: 100%;
        block-size: 100%;
        max-inline-size: 100%;
    }

    @media (max-width: 31.25rem) {
        inline-size: calc(100vw - 5.5rem);
        max-inline-size: calc(100vw - 5.5rem);
        flex-shrink: 0;
    }
}

.button-card:last-child {
    grid-column: 1 / 3;
}
