<div
    *ngFor="let i of controlPanelService.controlPanelData; let ind = index"
    [ngClass]="{
        LastCard:
            ind == controlPanelService.controlPanelData.length - 1 &&
            controlPanelService.controlPanelData.length % 2 == 1,
    }"
>
    <button
        tuiCardLarge
        tuiHeader
        tuiSurface="elevated"
        class="buttonCard"
    >
        <aside tuiAccessories>
            <tui-avatar
                appearance=""
                [src]="i.img"
                [style.color]="'#000'"
            />
        </aside>

        <h3
            tuiTitle
            class="text"
        >
            {{ i.name }}
        </h3>
    </button>
</div>
