.climate-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: calc(100% - 40px);
    flex-shrink: 0;
    padding: 20px;
    border: 1px var(--tui-border-normal) solid;
}

.title {
    display: inline-block;
    text-align: center;
    margin: 0;
}

.Group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 45%;
}
