.together {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.card {
    background-position: center;
}

.white {
    color: var(--tui-background-base);
}

.info {
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    gap: 0.625rem;
}

.icon {
    height: 100%;
    width: 100%;
}

.list-days {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.small-card {
    display: flex;
    align-items: center;
}

.card-icon {
    width: 2rem;
    height: 2rem;
}
