<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
    class="card"
    [ngClass]="{
        white:
            weatherService.getTypeOfWeather(info?.current?.condition?.code) == 'rain' ||
            weatherService.getTypeOfWeather(info?.current?.condition?.code) == 'snow',
    }"
    [style.background-image]="weatherService.getImage(info?.current?.condition?.code)"
>
    <header tuiHeader>
        <h2
            tuiTitle
            [style.text-align]="'center'"
        >
            Weather
        </h2>
    </header>
    <div class="info">
        <div class="left-side">
            <h3
                tuiTitle
                class="tui-text_body-m"
                (click)="weatherService.getTest()"
            >
                {{ info.location.name }}
            </h3>
            <h1 class="tui-space_top-3 tui-space_bottom-3">{{ info?.current?.temp_c }}°</h1>
            <div class="description">
                <p
                    class="tui-space_top-0 tui-space_bottom-0"
                    [style.display]="'flex'"
                >
                    <span [style.font-weight]="'600'">{{ info?.current?.dewpoint_c }}</span>
                    °/
                    <span [style.font-weight]="'600'">{{ info?.current?.heatindex_c }}</span>
                    °
                </p>
                <div class="together">
                    <tui-icon icon="@tui.wind" />
                    {{ info?.current?.wind_kph }}km/h
                </div>
                <div class="together">
                    <tui-icon icon="@tui.droplets" />
                    {{ info?.current?.humidity }}%
                </div>
            </div>
            <p class="tui-space_top-0 tui-space_bottom-0 tui-text_body-s">{{ info?.current?.condition?.text }}</p>
        </div>
    </div>
    <div class="list-days">
        <div
            *ngFor="let card of weatherService.weatherData"
            class="small-card"
        >
            <tui-icon
                class="card-icon"
                [icon]="card.icon"
            />
            <div
                class="left-side"
                [style.align-items]="'center'"
            >
                <p
                    class="tui-space_top-0 tui-space_bottom-0"
                    [style.font-weight]="'600'"
                >
                    {{ card.day }}
                </p>
                <p class="tui-space_top-0 tui-space_bottom-0">{{ card.temp }}</p>
            </div>
        </div>
    </div>
</div>
