.indicator {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.card {
    background-position: center;
    text-shadow: 0.1rem 0.2rem 0.2rem var(--tui-background-accent-opposite);

    &_light {
        color: var(--tui-background-base);
    }
}

.info {
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    gap: 0.625rem;
}

.list-days {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-small {
    display: flex;
    align-items: center;
}

.card-icon {
    width: 2rem;
    height: 2rem;
}
