<div tuiHeader="h5">
    <h2 tuiTitle>
        Appearance
        <div tuiSubtitle>Choose how site looks to you</div>
    </h2>
</div>

<form
    tuiForm="m"
    tuiTextfieldSize="m"
    [formGroup]="form"
    (ngSubmit)="submit()"
>
    <div tuiHeader="h6">
        <h3
            tuiTitle
            class="links"
        >
            Font
        </h3>
    </div>

    <tui-textfield
        tuiChevron
        [tuiTextfieldCleaner]="false"
    >
        <label tuiLabel>Font style</label>

        <input
            formControlName="font"
            tuiSelect
        />
        <tui-data-list-wrapper
            *tuiDropdown
            [items]="fonts"
        />
    </tui-textfield>

    <tui-textfield [tuiTextfieldCleaner]="false">
        <label tuiLabel>Font size</label>

        <input
            formControlName="fontSize"
            tuiInputNumber
            [step]="1"
        />
    </tui-textfield>

    <div tuiHeader="h6">
        <h3
            tuiTitle
            class="links"
        >
            Theme
        </h3>
    </div>

    <label
        tuiBlock
        tuiTheme="dark"
        [style.backgroundColor]="'#222'"
    >
        <span tuiTitle>Dark theme</span>
        <input
            formControlName="theme"
            tuiRadio
            type="radio"
            value="dark"
        />
    </label>
    <label
        tuiBlock
        tuiTheme="light"
        [style.backgroundColor]="'#fff'"
    >
        <span tuiTitle>Light theme</span>
        <input
            formControlName="theme"
            tuiRadio
            type="radio"
            value="light"
        />
    </label>

    <button
        appearance="primary-grayscale"
        size="m"
        tuiButton
        type="submit"
        class="submit-button"
    >
        Update appearance
    </button>
</form>
