.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline-start: -1.25rem;
    margin-inline-end: -1.25rem;

    @media (min-width: 1280px) {
        margin-inline-start: -1.5rem;
        margin-inline-end: -1.5rem;
    }
}

.col {
    inline-size: 50%;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
    box-sizing: border-box;
}

@media (max-width: 1250px) {
    .row {
        gap: 1rem;
    }

    .col {
        inline-size: 100%;
    }
}

.example-block {
    position: sticky;
    top: 7rem;
    block-size: max-content;
    background-color: var(--tui-background-base);

    @media (max-width: 570px) {
        display: none;
    }
}

.list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.actions {
    display: flex;
    flex-direction: column;
}
