@import '@taiga-ui/styles/utils.less';

:host {
    display: grid;
    // stylelint-disable-next-line plugin/no-unsupported-browser-features, plugin/use-baseline -- older browsers ignore subgrid and fall back to a single grid track
    grid-template-columns: subgrid;
}

.header {
    grid-column: span 12;
    margin-block-end: 2rem;
}

.menu {
    grid-column: span 4;
    margin-block-end: auto;

    > a {
        justify-content: start;
    }

    background: var(--tui-background-base);

    &::before {
        color: var(--tui-background-neutral-1);
        filter: none;
    }
}

.form {
    grid-column: 5 / 10;
}

@media @tui-mobile {
    .menu {
        grid-column: span 12;
        margin-block-end: 2rem;

        > a {
            justify-content: center;
        }
    }

    .form {
        grid-column: span 12;
    }
}
