<header
    tuiHeader="xxl"
    class="header"
>
    <h2 tuiTitle>
        Taiga Lumbermill
        <span tuiSubtitle>
            A set of comprehensive examples of
            <a
                href="https://taiga-ui.dev"
                target="_blank"
                tuiLink
            >
                Taiga UI
            </a>
            use in the wild. Our goal is to provide developers with a robust foundation for quickly creating beautiful
            and functional web applications.
        </span>
    </h2>
</header>
<a
    appearance="opposite"
    href="https://github.com/taiga-family/taiga-lumbermill"
    size="s"
    tuiButton
    type="button"
    class="action-button"
>
    Explore
</a>

<div class="cards">
    <button
        routerLink="/dashboards"
        tuiCardLarge
        tuiSurface="elevated"
        type="button"
    >
        <tui-avatar
            appearance="opposite"
            src="@tui.circle-gauge"
        />
        <div tuiTitle>
            Dashboards
            <div tuiSubtitle>Examples of complex pages and dashboards</div>
        </div>
    </button>

    <div
        tuiCardLarge
        tuiSurface="elevated"
    >
        <tui-avatar
            appearance="opposite"
            src="@tui.panel-top"
        />
        <div tuiTitle>
            Pages
            <div tuiSubtitle>Some common pages such as login, registration</div>
        </div>
    </div>

    <button
        routerLink="/theme"
        tuiCardLarge
        tuiSurface="elevated"
        type="button"
    >
        <tui-avatar
            appearance="opposite"
            src="@tui.palette"
        />
        <div tuiTitle>
            Color generator
            <div tuiSubtitle>Customize Taiga UI theme</div>
        </div>
    </button>
</div>
