<header
    tuiHeader="h1"
    class="header"
>
    <h2 tuiTitle>
        Taiga Lumbermill
        <span tuiSubtitle>
            A set of comprehensive examples of
            <a
                href="https://taiga-ui.dev"
                target="_blank"
                tuiLink
            >
                Taiga UI
            </a>
            use in the wild. Our goal is to provide developers with a robust foundation for quickly creating beautiful
            and functional web applications.
        </span>
    </h2>
</header>
<a
    appearance="primary-grayscale"
    href="https://github.com/taiga-family/taiga-lumbermill"
    size="s"
    tuiButton
    type="button"
    class="action-button"
>
    Explore
</a>

<div class="cards">
    <button
        appearance="floating"
        routerLink="/dashboards"
        tuiCardLarge
        type="button"
    >
        <span
            appearance="primary-grayscale"
            size="l"
            tuiAvatar="@tui.circle-gauge"
        ></span>
        <div tuiTitle>
            Dashboards
            <div tuiSubtitle>Examples of complex pages and dashboards</div>
        </div>
    </button>

    <button
        appearance="floating"
        routerLink="/apps"
        tuiCardLarge
        type="button"
    >
        <span
            appearance="primary-grayscale"
            size="l"
            tuiAvatar="@tui.app-window"
        ></span>
        <div tuiTitle>
            Apps
            <div tuiSubtitle>Complete applications such as AI chat</div>
        </div>
    </button>

    <button
        appearance="floating"
        routerLink="/pages"
        tuiCardLarge
        type="button"
    >
        <span
            appearance="primary-grayscale"
            size="l"
            tuiAvatar="@tui.panel-top"
        ></span>
        <div tuiTitle>
            Pages
            <div tuiSubtitle>Some common pages such as login, registration</div>
        </div>
    </button>

    <button
        appearance="floating"
        routerLink="/color-generator"
        tuiCardLarge
        type="button"
    >
        <span
            appearance="primary-grayscale"
            size="l"
            tuiAvatar="@tui.palette"
        ></span>
        <div tuiTitle>
            Color generator
            <div tuiSubtitle>Customize Taiga UI theme</div>
        </div>
    </button>
</div>
