<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
    class="card"
>
    <header tuiHeader>
        <h2
            tuiTitle
            [style.text-align]="'center'"
        >
            NFT Market
        </h2>
    </header>
    @if (activeItem !== '') {
        <div class="info-open">
            <tui-avatar
                class="logo-nft"
                [src]="getInfo(activeItem).src"
            />
        </div>
    } @else {
        <div class="info">
            <h2 tuiTitle="m">Top NFTs</h2>
            <div class="list">
                @for (nft of nftService; track $index) {
                    <div
                        tuiAppearance="whiteblock"
                        tuiCardMedium="normal"
                        class="card-nft"
                        (click)="activeItem = nft.name"
                    >
                        <tui-avatar
                            class="logo-nft"
                            [src]="nft.src"
                        />
                        <div class="text">
                            <h3 class="tui-space_top-1 tui-space_bottom-0">{{ nft.name }}</h3>
                            <h5 class="tui-space_top-0 tui-space_bottom-0">{{ nft.price }}</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="info">
            <h2 tuiTitle="m">Recent bought NFTs</h2>
            <div class="list">
                @for (nft of nftService; track $index) {
                    <div
                        tuiAppearance="whiteblock"
                        tuiCardMedium="normal"
                        class="card-nft"
                        (click)="activeItem = nft.name"
                    >
                        <tui-avatar
                            class="logo-nft"
                            [src]="nft.src"
                        />
                        <div class="text">
                            <h3 class="tui-space_top-1 tui-space_bottom-0">{{ nft.name }}</h3>
                            <h5 class="tui-space_top-0 tui-space_bottom-0">{{ nft.price }}</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
