<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
    class="card"
>
    <header tuiHeader>
        <h2
            tuiTitle
            [style.text-align]="'center'"
        >
            Cryptocurrency Prices
        </h2>
    </header>
    @if (clicked) {
        <tui-axes
            *ngIf="labels(show) | async as labels"
            class="axes"
            [horizontalLines]="4"
            [verticalLines]="labels.length"
        >
            <ng-container *ngIf="getWidth(show) > 90; else line">
                <tui-line-days-chart
                    *ngFor="let chart of days"
                    class="chart"
                    [height]="200"
                    [value]="chart | tuiFilter: filter : range"
                />
            </ng-container>
            <ng-template #line>
                <tui-line-chart
                    *ngFor="let chart of days"
                    class="chart"
                    [height]="200"
                    [value]="chart | tuiFilter: filter : range | tuiMapper: toNumbers : range"
                    [width]="getWidth(range)"
                />
            </ng-template>
        </tui-axes>
        <div class="buttons">
            @for (btn of filterButtons; track $index) {
                <button
                    tuiAppearance="invisible"
                    [ngClass]="{clicked: $index === filterButton}"
                    (click)="filterCheck($index)"
                >
                    {{ btn }}
                </button>
            }
        </div>
    }
    <div class="list">
        @for (token of pricesService; track $index) {
            @if (!clicked || $index === choosen) {
                <div
                    tuiCell="l"
                    (click)="chooseToken($index)"
                >
                    <tui-avatar [src]="token.src" />
                    <div tuiTitle>
                        {{ token.name }}
                        <div tuiSubtitle>
                            {{ token.prices }}
                            <span [style.color]="'var(--tui-text-negative)'">{{ token.dif_day }}</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <button
        tuiAppearance="invisible"
        tuiTitle
        class="button-add"
    >
        <tui-icon icon="@tui.circle-plus" />
        Add token
    </button>
</div>
