<div class="top">
    <div class="column">
        <div class="info">
            <tui-avatar
                src="@tui.user"
                [size]="'xxl'"
                [style.border-radius]="'9rem'"
                [style.height]="'9rem'"
                [style.width]="'9rem'"
            />
            <header tuiHeader>
                <h3 tuiTitle>
                    Administrator
                    <div
                        [style.align-items]="'center'"
                        [style.display]="'flex'"
                        [style.gap]="'0.5rem'"
                    >
                        <span tuiSubtitle>Status:</span>
                        <tui-badge
                            appearance="success"
                            tuiStatus
                        >
                            Online
                        </tui-badge>
                    </div>
                    <span tuiSubtitle>Number of animals: {{ animals.length }}</span>
                </h3>
            </header>
        </div>
        <tui-ring-chart
            size="xl"
            [style.margin-left]="'auto'"
            [style.margin-right]="'auto'"
            [value]="value"
            [(activeItemIndex)]="indexRingChart"
        >
            <span>{{ sum | tuiAmount: 'RUB' | async }}</span>
            <div>{{ label }}</div>
        </tui-ring-chart>

        <ng-template
            #content
            let-index
        >
            <span>{{ value[index] | tuiAmount: 'RUB' | async }}</span>
            <div>{{ labels[index] }}</div>
        </ng-template>
    </div>

    <div>
        <div
            tuiAppearance="whiteblock"
            tuiCardLarge="normal"
            class="card-animals"
        >
            @for (animal of animals; track $index) {
                <button
                    tuiAppearance="whiteblock"
                    tuiCardLarge="normal"
                    tuiSurface="elevated"
                    [routerLink]="'animal/' + $index"
                    [style.width]="'min-content'"
                >
                    <tui-avatar
                        [size]="'m'"
                        [src]="animal.src"
                        [style.border-radius]="'9rem'"
                        [style.height]="'9rem'"
                        [style.width]="'9rem'"
                    />
                    <header tuiHeader>
                        <h2
                            tuiTitle
                            [style.text-align]="'center'"
                        >
                            {{ animal.title }}
                        </h2>
                    </header>
                    <div
                        [style.display]="'flex'"
                        [style.flex-direction]="'column'"
                        [style.gap]="'0.5rem'"
                    >
                        <tui-badge
                            tuiStatus
                            [appearance]="animal.health === 'good' ? 'success' : 'warning'"
                        >
                            {{ animal.health }}
                        </tui-badge>
                        @for (tag of animal.tags; track $index) {
                            <tui-badge appearance="primary">{{ tag }}</tui-badge>
                        }
                    </div>
                </button>
            }
        </div>
    </div>
</div>
<div class="events">
    <div>
        <button
            iconEnd="@tui.panel-top-open"
            tuiLink
            (click)="[(expanded = !expanded), onDayClick(null)]"
        >
            Open Calendar
        </button>
        <tui-expand [expanded]="expanded">
            <ng-template tuiExpandContent>
                <tui-calendar-range
                    class="calendar"
                    [items]="items"
                    [markerHandler]="marker"
                    [value]="calendarValue()"
                    (valueChange)="onDayClick($event)"
                />
            </ng-template>
        </tui-expand>
    </div>
    @if (calendarValue()) {
        <div
            tuiCardLarge
            tuiSurface="elevated"
            [style.margin-left]="'auto'"
            [style.margin-right]="'auto'"
        >
            <h3 tuiTitle="m">Events</h3>
            <button
                *ngFor="let item of eventsCalendar()"
                tuiCell
            >
                <tui-avatar
                    appearance="accent"
                    [src]="item.icon"
                />
                <span tuiTitle>
                    {{ item.title }}
                    <span tuiSubtitle>{{ item.subtitle }} {{ item.time }}</span>
                </span>
            </button>
        </div>
    }
</div>
