<div class="info">
    <tui-avatar
        src="@tui.user"
        [size]="'xxl'"
        [style.border-radius]="'9rem'"
        [style.height]="'9rem'"
        [style.width]="'9rem'"
    />
    <header tuiHeader>
        <h3 tuiTitle>
            Administrator
            <div
                [style.align-items]="'center'"
                [style.display]="'flex'"
                [style.gap]="'0.5rem'"
            >
                <span tuiSubtitle>Status:</span>
                <tui-badge
                    appearance="success"
                    tuiStatus
                >
                    Success
                </tui-badge>
            </div>
            <span tuiSubtitle>Number of animals: 120</span>
        </h3>
    </header>
</div>
<tui-pie-chart
    size="xl"
    [tuiHintContent]="content"
    [value]="value"
/>

<ng-template
    #content
    let-index
>
    <span>{{ value[index] | tuiAmount: 'RUB' | async }}</span>
    <div>{{ labels[index] }}</div>
</ng-template>

<button
    appearance="primary"
    tuiButton
    (click)="openTable()"
>
    Open Table
</button>
