@import '@taiga-ui/core/styles/taiga-ui-local.less';

.choose-crypto {
    width: min-content;
    height: 2rem;
}

.amount-crypto {
    display: flex;
    flex-direction: column;
}

.input-number {
    border: 0;
    outline: 0;
    background: transparent;
}

.equal-number {
    margin-left: auto;
    text-align: right;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
