@let info = info$ | async;
@if (info) {
    @let data = info.data;
    <div
        tuiAppearance="whiteblock"
        tuiCardLarge="normal"
        [style.height]="'100%'"
    >
        <header tuiHeader>
            <h2
                tuiTitle
                [style.text-align]="'center'"
            >
                Swap
            </h2>
        </header>
        @for (type of swapService; track $index) {
            <div>
                <div tuiCell="l">
                    <div TuiTitle>{{ type.title }}</div>
                    <div TuiTitle>Balance: 1000 {{ chosen[$index].toUpperCase() }}</div>
                </div>
                <button
                    tuiButton
                    tuiChevron
                    type="button"
                    class="choose-crypto"
                    [tuiDropdown]="dropdownContent"
                    [(tuiDropdownOpen)]="openedDialog[$index]"
                    (click)="openInfo($index)"
                >
                    <tui-avatar
                        size="xs"
                        [src]="'https://assets.coincap.io/assets/icons/' + chosen[$index].toLowerCase() + '@2x.png'"
                    />
                    {{ chosen[$index].toUpperCase() }}
                    @let current = $index;
                    <ng-template
                        #dropdownContent
                        let-close
                    >
                        <tui-data-list size="s">
                            @for (token of data; track token.symbol) {
                                <button
                                    tuiOption
                                    [value]="token.symbol"
                                    (click)="[newToken(current, token.symbol), close()]"
                                >
                                    {{ token.symbol.toUpperCase() }}
                                    <tui-icon
                                        *ngIf="token.symbol.toLowerCase() === chosen[current].toLowerCase()"
                                        icon="@tui.check"
                                        [style.font-size.em]="1"
                                        [style.margin-left.rem]="0.5"
                                    />
                                </button>
                            }
                        </tui-data-list>
                    </ng-template>
                </button>
            </div>
            <div>
                <tui-input-inline tuiTitle="l">
                    <input
                        max="1000"
                        min="0"
                        type="number"
                        [formControl]="swapForm['controls'][$index]"
                        (change)="newSwap(data, $index)"
                    />
                </tui-input-inline>
                <div>
                    <div
                        tuiSubtitle
                        class="equal-number"
                    >
                        ≈{{
                            getPrice(data, chosen[$index], swapForm.controls[$index].value) | tuiAmount: 'USD' | async
                        }}
                    </div>
                    <hr />
                </div>
            </div>
        }
        <button
            appearance="primary"
            tuiButton
            (click)="newSwap(data, 0)"
        >
            Swap
        </button>
    </div>
}
