.nft-icon {
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
}

.info {
    position: relative;
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
}

.text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;

    tr {
        height: 2.875rem;
    }

    td {
        &:first-child {
            width: 10rem;
            font-weight: bold;
        }

        &:last-child {
            width: 3rem;
        }
    }
}

.viewport {
    height: 15.625rem;
}

.badges {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.4rem;
}
