<div
    class="info-open"
    (click)="updateItem('')"
>
    <tui-avatar
        class="logo-nft clicked"
        [src]="getInfo(activeItem).src"
    />
    <div
        tuiHeader
        class="text-clicked"
        [style.text-align]="'center'"
    >
        <h2 class="tui-space_top-0 tui-space_bottom-2">NFT name</h2>
        <p
            tuiSubtitle
            class="tui-space_top-0 tui-space_bottom-0"
        >
            price
        </p>
    </div>
</div>
<tui-scrollbar>
    <cdk-virtual-scroll-viewport
        #viewport
        tuiScrollable
        class="viewport tui-zero-scrollbar"
        [itemSize]="45"
        [maxBufferPx]="500"
        [minBufferPx]="400"
    >
        <table
            tuiTable
            [columns]="columns"
        >
            <thead>
                <tr tuiThGroup>
                    <th
                        *tuiHead="'name'"
                        tuiTh
                        [sticky]="true"
                        [style.top.px]="-viewport['_renderedContentOffset']"
                    >
                        Name
                    </th>
                    <th
                        *tuiHead="'dob'"
                        tuiTh
                        [sticky]="true"
                        [style.top.px]="-viewport['_renderedContentOffset']"
                    >
                        Date of Birth
                    </th>
                    <th
                        *tuiHead="'age'"
                        tuiTh
                        [sorter]="ageSorter"
                        [sticky]="true"
                        [style.top.px]="-viewport['_renderedContentOffset']"
                    >
                        Age
                    </th>
                </tr>
            </thead>
            <tbody tuiTbody>
                <tr
                    *cdkVirtualFor="let item of data | tuiTableSort"
                    tuiTr
                >
                    <td
                        *tuiCell="'name'"
                        tuiTd
                    >
                        {{ item.name }}
                    </td>
                    <td
                        *tuiCell="'dob'"
                        tuiTd
                    >
                        {{ item.dob }}
                    </td>
                    <td
                        *tuiCell="'age'"
                        tuiTd
                    >
                        {{ getAge(item) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
</tui-scrollbar>
