<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
>
    <tui-tabs tuiFade>
        <button
            tuiTab
            (click)="updateFades(true)"
        >
            <header tuiHeader>
                <h2
                    tuiTitle
                    [style.text-align]="'center'"
                >
                    Contacts
                </h2>
            </header>
        </button>
        <button
            tuiTab
            (click)="updateFades(false)"
        >
            <header tuiHeader>
                <h2
                    tuiTitle
                    [style.text-align]="'center'"
                >
                    Recent
                </h2>
            </header>
        </button>
    </tui-tabs>
    <tui-scrollbar>
        @if (contacts) {
            <cdk-virtual-scroll-viewport
                itemSize="50"
                tuiScrollable
                class="contacts-list viewport tui-zero-scrollbar"
            >
                <div
                    *cdkVirtualFor="let person of contactsService.contacts"
                    tuiCell="l"
                >
                    <tui-avatar
                        [src]="person.img"
                        [style.background]="person.img | tuiAutoColor"
                    />
                    <div tuiTitle>
                        {{ person.name }}
                        <div tuiSubtitle>{{ person.status }}</div>
                    </div>
                    <tui-icon icon="@tui.phone" />
                </div>
            </cdk-virtual-scroll-viewport>
        } @else {
            <cdk-virtual-scroll-viewport
                itemSize="50"
                tuiScrollable
                class="contacts-list viewport tui-zero-scrollbar"
            >
                <div
                    *cdkVirtualFor="let person of contactsService.recent"
                    tuiCell="l"
                >
                    <tui-badged-content>
                        <tui-avatar
                            [src]="person.img"
                            [style.background]="person.img | tuiAutoColor"
                        />
                        <tui-icon
                            size="s"
                            tuiBadge
                            tuiSlot="top"
                            [appearance]="person.took ? 'error' : 'success'"
                            [icon]="person.took ? '@tui.arrow-down-left' : '@tui.arrow-up-right'"
                        />
                    </tui-badged-content>
                    <div tuiTitle>
                        {{ person.name }}
                        <div tuiSubtitle>{{ person.status }}</div>
                    </div>
                    <div tuiSubtitle>{{ person.last }}</div>
                </div>
            </cdk-virtual-scroll-viewport>
        }
    </tui-scrollbar>
</div>
