.contacts-list {
    display: flex;
    flex-direction: column;
}

tui-tabs {
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    gap: 0.75rem;
}

[tuiCell] {
    margin: 0 !important;
}

.viewport {
    height: 12.5rem;
}
