tui-tabs {
    display: flex;
    justify-content: space-around;
}

[tuiCardLarge] [tuiCell][data-size='l'] {
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--tui-border-normal);
}

.viewport {
    height: 12.5rem;
}
