<header tuiHeader="l">
    <h2
        tuiTitle
        [style.text-align]="'center'"
    >
        Taiga Lumbermill
    </h2>
</header>
<p
    tuiTitle="s"
    class="description"
>
    This project contains a comprehensive set of ready-made templates, dashboards, and pages built using the Taiga UI
    component library. Our goal is to provide developers with a robust foundation for quickly creating beautiful and
    functional web applications.
</p>
<div class="row">
    <div
        routerLink="/dashboards"
        tuiAppearance="whiteblock"
        tuiCardLarge="normal"
        class="card"
    >
        <header tuiHeader>
            <h2
                tuiTitle
                [style.text-align]="'center'"
            >
                Dashboards
            </h2>
        </header>
        @for (card of dashboardsListData; track $index) {
            <a
                tuiCardLarge
                tuiHeader
                tuiSurface="elevated"
                [routerLink]="card.link"
            >
                <h2 tuiTitle>
                    {{ card.title }}
                    <span tuiSubtitle>{{ card.description }}</span>
                </h2>
            </a>
        }
    </div>
    <div
        routerLink="/theme"
        tuiAppearance="whiteblock"
        tuiCardLarge="normal"
        class="card"
    >
        <div>
            <header
                tuiHeader
                [style.margin-top]="'0rem'"
            >
                <h2
                    tuiTitle
                    [style.text-align]="'center'"
                >
                    Theme generator
                </h2>
            </header>
            <h3
                tuiTitle
                [style.margin-top]="'1.25rem'"
                [style.text-align]="'center'"
            >
                Сreate your own themes with a handy tool
            </h3>
        </div>
    </div>
</div>
