<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
    class="card"
>
    <header tuiHeader>
        <h2
            tuiTitle
            [style.text-align]="'center'"
        >
            Music
        </h2>
    </header>
    <div class="info">
        <img
            class="logo"
            [src]="musicService[curMusic].logo"
        />
        <h2 class="tui-space_top-4 tui-space_bottom-2">
            {{ musicService[curMusic].name }}
        </h2>
        <p
            class="tui-space_top-0 tui-space_bottom-0"
            [style.color]="'var(--tui-text-primary)'"
        >
            {{ musicService[curMusic].performer }}
        </p>
    </div>
    <audio
        #audio
        tuiMedia
        [src]="musicService[curMusic].src"
        [(currentTime)]="curTime"
        [(paused)]="paused"
        [(volume)]="volume"
    ></audio>
    <div>
        <input
            size="m"
            tuiSlider
            type="range"
            [max]="audio.duration"
            [(ngModel)]="curTime"
        />
        <div class="numbers">
            <p class="tui-space_top-0 tui-space_bottom-0">{{ getMinutes(curTime) }}:{{ getSeconds(curTime) }}</p>
            <p class="tui-space_top-0 tui-space_bottom-0">
                {{ getMinutes(musicService[curMusic].length) }}:{{ getSeconds(musicService[curMusic].length) }}
            </p>
        </div>
    </div>
    <div class="buttons">
        <button
            appearance="invisible"
            tuiButton
            (click)="shuffleButton()"
        >
            <tui-icon
                icon="@tui.shuffle"
                [ngClass]="{checked: shuffle}"
            />
        </button>
        <button
            appearance="invisible"
            tuiButton
            (click)="previousMusic()"
        >
            <tui-icon icon="@tui.skip-back" />
        </button>
        <button
            appearance="invisible"
            tuiButton
            (click)="playButton()"
        >
            <tui-icon [icon]="logoPlay" />
        </button>
        <button
            appearance="invisible"
            tuiButton
            (click)="nextMusic()"
        >
            <tui-icon icon="@tui.skip-forward" />
        </button>
        <button
            appearance="invisible"
            tuiButton
            (click)="repeatButton()"
        >
            <tui-icon
                icon="@tui.repeat"
                [ngClass]="{checked: repeat}"
            />
        </button>
    </div>
    <hr />
    <div class="volume">
        <tui-icon icon="@tui.volume-1" />
        <input
            max="1"
            size="m"
            step="0.01"
            tuiSlider
            type="range"
            [style.color]="'var(--tui-status-info)'"
            [(ngModel)]="volume"
        />
        <tui-icon icon="@tui.volume-2" />
    </div>
</div>
