<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
    class="card"
>
    <header tuiHeader>
        <h2
            tuiTitle
            [style.text-align]="'center'"
        >
            Music
        </h2>
    </header>
    <div class="info">
        <img
            class="logo"
            [src]="musicService.musicData.musics[musicService.curMusic].logo"
        />
        <h2 class="tui-space_top-4 tui-space_bottom-2">
            {{ musicService.musicData.musics[musicService.curMusic].name }}
        </h2>
        <p
            class="tui-space_top-0 tui-space_bottom-0"
            [style.color]="'var(--tui-text-primary)'"
        >
            {{ musicService.musicData.musics[musicService.curMusic].performer }}
        </p>
    </div>
    <div>
        <input
            size="m"
            tuiSlider
            type="range"
            [formControl]="safetyForm['controls'][0]"
        />
        <div class="numbers">
            <p class="tui-space_top-0 tui-space_bottom-0">
                {{ musicService.getMinutes(safetyForm['controls'][0].value) }}:{{
                    musicService.getSecods(safetyForm['controls'][0].value)
                }}
            </p>
            <p class="tui-space_top-0 tui-space_bottom-0">
                {{ musicService.getMinutes(musicService.musicData.musics[musicService.curMusic].length) }}:{{
                    musicService.getSecods(musicService.musicData.musics[musicService.curMusic].length)
                }}
            </p>
        </div>
    </div>
    <div class="buttons">
        <tui-icon
            icon="@tui.shuffle"
            [ngClass]="{checked: musicService.shuffle}"
            (click)="musicService.shuffleButton()"
        />
        <tui-icon
            icon="@tui.skip-back"
            (click)="musicService.previousMusic()"
        />
        <tui-icon
            [icon]="musicService.logoPlay"
            (click)="musicService.playButton()"
        />
        <tui-icon
            icon="@tui.skip-forward"
            (click)="musicService.nextMusic()"
        />
        <tui-icon
            icon="@tui.repeat"
            [ngClass]="{checked: musicService.repeat}"
            (click)="musicService.repeatButton()"
        />
    </div>
    <hr />
    <div class="volume">
        <tui-icon icon="@tui.volume-1" />
        <input
            size="m"
            tuiSlider
            type="range"
            value="60"
            [formControl]="safetyForm['controls'][1]"
            [style.color]="'var(--tui-status-info)'"
        />
        <tui-icon icon="@tui.volume-2" />
    </div>
</div>
