.card {
    top: 50%;
    bottom: 50%;
    width: max-content;
    margin: auto;
    transform: translateY(-50%);
    height: max-content;
}

.block-input {
    margin-bottom: 0.3rem;
    width: 18.5rem;

    @media (max-width: 29rem) {
        width: 14rem;
    }
}
