<div
    tuiHeader="h5"
    class="header"
>
    <h2 tuiTitle>
        Profile
        <div tuiSubtitle>This is how others will see you on the site.</div>
    </h2>
</div>

<form
    tuiForm="m"
    tuiTextfieldSize="m"
    [formGroup]="form"
    (ngSubmit)="submit()"
>
    <label tuiLabel>
        <tui-textfield>
            <label tuiLabel>Public name</label>
            <input
                formControlName="name"
                placeholder="Public name"
                tuiInput
            />
        </tui-textfield>
        Your name may appear around system where you contribute or are mentioned. You can remove it at any time.
    </label>

    <label tuiLabel>
        <tui-textfield
            iconStart="@tui.mail"
            tuiChevron
            [tuiTextfieldCleaner]="false"
        >
            <input
                formControlName="email"
                placeholder="Public email"
                tuiSelect
            />
            <tui-data-list-wrapper
                *tuiDropdown
                [items]="emails"
            />
        </tui-textfield>
        You can manage verified email addresses in your email settings.
    </label>

    <label tuiLabel>
        <tui-textfield>
            <label tuiLabel>Tell us a little bit about yourself</label>
            <textarea
                formControlName="bio"
                tuiTextarea
                [min]="3"
            ></textarea>
        </tui-textfield>
        You can &#64;mention other users and organizations to link to them.
    </label>

    <div tuiHeader="h6">
        <h3
            tuiTitle
            class="links"
        >
            Links
            <div tuiSubtitle="">Add links to your social media profiles.</div>
        </h3>
    </div>

    <tui-textfield iconStart="@tui.at-sign">
        <label tuiLabel>twitter</label>
        <input
            formControlName="twitter"
            tuiInput
        />
    </tui-textfield>
    <tui-textfield iconStart="@tui.github">
        <label tuiLabel>github</label>
        <input
            formControlName="github"
            placeholder="Public name"
            tuiInput
        />
    </tui-textfield>

    <button
        appearance="primary-grayscale"
        size="m"
        tuiButton
        type="submit"
        class="submit-button"
    >
        Update profile
    </button>
</form>
