<div class="bar-chart">
    <h1
        TuiTitle
        class="Spend"
    >
        Расходы
    </h1>
    <p class="legend">
        <span class="item">
            <small class="name">Счета за электричество</small>
        </span>
        <span class="item">
            <small class="name">Счета за свет</small>
        </span>
    </p>
    <div class="flex">
        <tui-axes
            class="axes"
            [axisXLabels]="labelsX"
            [axisYLabels]="labelsY"
        >
            <tui-bar-chart
                [max]="10000"
                [tuiHintAppearance]="appearance"
                [tuiHintContent]="hint"
                [value]="value"
            />
        </tui-axes>
    </div>
</div>
