.list-pools {
    border: solid 1px var(--tui-border-normal);
    border-radius: 1rem;
}

.last-columns {
    display: flex;
    gap: 2rem;

    & [tuiTitle] {
        display: flex;
        width: 2rem;
        align-items: center;
        text-align: center;
    }
}
