@let data = tokens();
@if (data) {
    <div
        tuiAppearance="whiteblock"
        tuiCardLarge="normal"
        [style.height]="'100%'"
    >
        <header tuiHeader>
            <h2
                tuiTitle
                [style.text-align]="'center'"
            >
                Pools
            </h2>
        </header>
        <tui-input
            tuiTextfieldIconLeft="@tui.search"
            [(ngModel)]="search"
        >
            Search
        </tui-input>
        <div class="list-pools">
            <tui-scrollbar>
                <cdk-virtual-scroll-viewport
                    #viewport
                    itemSize="64"
                    tuiScrollable
                    class="viewport tui-zero-scrollbar"
                >
                    <table
                        tuiTable
                        [columns]="columns"
                    >
                        <thead>
                            <tr tuiThGroup>
                                @for (column of columns; track $index) {
                                    @if (column == 'APR') {
                                        <th
                                            *tuiHead="column"
                                            tuiTh
                                            [sorter]="aprSorter"
                                            [sticky]="true"
                                            [style.top.px]="-viewport['_renderedContentOffset']"
                                        >
                                            {{ column }}
                                        </th>
                                    } @else {
                                        <th
                                            *tuiHead="column"
                                            tuiTh
                                            [sticky]="true"
                                            [style.top.px]="-viewport['_renderedContentOffset']"
                                        >
                                            {{ column }}
                                        </th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody tuiTbody>
                            <tr
                                *cdkVirtualFor="let item of tableData() | tuiTableSort; let ind = index"
                                tuiTr
                            >
                                @for (column of columns; track $index) {
                                    <td
                                        *tuiCell="column"
                                        tuiTd
                                        [style.padding-left]="'1rem'"
                                    >
                                        @if (column === 'Pair') {
                                            <div class="stack">
                                                <tui-avatar-stack
                                                    class="tui-space_top-3 tui-space_bottom-3"
                                                    [direction]="'right'"
                                                >
                                                    <tui-avatar
                                                        size="m"
                                                        [src]="
                                                            'https://assets.coincap.io/assets/icons/' +
                                                            item[0].symbol.toLowerCase() +
                                                            '@2x.png'
                                                        "
                                                    />
                                                    <tui-avatar
                                                        size="m"
                                                        [src]="
                                                            'https://assets.coincap.io/assets/icons/' +
                                                            item[1].symbol.toLowerCase() +
                                                            '@2x.png'
                                                        "
                                                    />
                                                </tui-avatar-stack>
                                                <div TuiTitle>
                                                    {{ item[0].symbol.toUpperCase() }}/{{
                                                        item[1].symbol.toUpperCase()
                                                    }}
                                                </div>
                                            </div>
                                        }
                                        @if (column === 'TVL') {
                                            <div TuiTitle>${{ getTVL(ind) }}M</div>
                                        }
                                        @if (column === 'APR') {
                                            <div TuiTitle>{{ getAPR(ind) }}%</div>
                                        }
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </cdk-virtual-scroll-viewport>
            </tui-scrollbar>
        </div>
    </div>
}
