<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
    class="card"
>
    <div>
        <header tuiHeader>
            <h2
                tuiTitle
                [style.text-align]="'center'"
            >
                Utility costs
            </h2>
        </header>
        <p class="legend">
            <span class="item">
                <small class="name">Electricity bills</small>
            </span>
            <span class="item">
                <small class="name">Light bills</small>
            </span>
        </p>
        <div class="flex">
            <tui-axes
                class="axes"
                [axisXLabels]="costService.costData.labelsX"
                [axisYLabels]="costService.costData.labelsY"
            >
                <tui-bar-chart
                    [max]="10000"
                    [tuiHintContent]="costService.hint"
                    [value]="costService.costData.value"
                />
            </tui-axes>
        </div>
    </div>
</div>
