<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
    class="card"
>
    <header tuiHeader>
        <h2
            tuiTitle
            [style.text-align]="'center'"
        >
            {{ !success ? 'Mint your token' : token + ' successfully created' }}
        </h2>
    </header>
    @if (!success) {
        <lmb-minter-deploy
            [(success)]="success"
            [(urlIcon)]="urlIcon"
            (amountChange)="amount = $event"
            (symbolChange)="symbol = $event"
            (tokenChange)="token = $event"
        />
    } @else {
        <lmb-minter-created
            [amount]="amount"
            [symbol]="symbol"
            [urlIcon]="urlIcon"
            [(success)]="success"
        />
    }
</div>
