<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
    class="card"
>
    <header tuiHeader>
        <h2
            tuiTitle
            [style.text-align]="'center'"
        >
            {{ !success ? 'Mint your token' : ' successfully created' }}
        </h2>
    </header>
    @if (!success) {
        <lmb-minter-deploy />
    } @else {
        <!-- <tui-avatar
            size="xl"
            class="logo"
            [src]="urlIcon"
        />
        <h3
            tuiTitle
            class="info"
        >
            {{ amount }} (${{ symbol }}) have been sent to your wallet
        </h3>
        <button
            tuiButton
            (click)="success = false"
        >
            Create new Token
        </button> -->
    }
</div>
