name: Deploy
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.89.0
      - uses: taiga-family/ci/actions/setup/variables@v1.89.0
      - uses: taiga-family/ci/actions/setup/node@v1.89.0
      - run: npx nx build-gh-pages taiga-lumbermill
      - uses: JamesIves/github-pages-deploy-action@v4.6.8
        with:
          branch: gh-pages
          folder: dist/apps/taiga-lumbermill/browser
          silent: false
          clean: true

concurrency:
  group: deploy-${{ github.head_ref }}
  cancel-in-progress: true
