name: Lint
on: [pull_request]

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: taiga-family/ci/actions/setup/variables@v1.117.0
      - uses: taiga-family/ci/actions/setup/node@v1.117.0
      - run: npm run typecheck

  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: taiga-family/ci/actions/setup/variables@v1.117.0
      - uses: taiga-family/ci/actions/setup/node@v1.117.0
      - run: npm run cspell -- --no-progress

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: taiga-family/ci/actions/setup/variables@v1.117.0
      - uses: taiga-family/ci/actions/setup/node@v1.117.0
      - run: npm run prettier -- --check

  stylelint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: taiga-family/ci/actions/setup/variables@v1.117.0
      - uses: taiga-family/ci/actions/setup/node@v1.117.0
      - run: npm run stylelint

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: taiga-family/ci/actions/setup/variables@v1.117.0
      - uses: taiga-family/ci/actions/setup/node@v1.117.0
      - run: npm run lint

  result:
    needs: [prettier, eslint, stylelint, cspell, typecheck]
    runs-on: ubuntu-latest
    name: Lint result
    steps:
      - run: echo "Success"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
