name: Lint
# on: [pull_request]
on:
  push:
    branches:
      - v1

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.65.2
      - uses: taiga-family/ci/actions/setup/variables@v1.65.2
      - uses: taiga-family/ci/actions/setup/node@v1.65.2
      - run: npm run typecheck

  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.65.2
      - uses: taiga-family/ci/actions/setup/variables@v1.65.2
      - uses: taiga-family/ci/actions/setup/node@v1.65.2
      - run: npm run cspell -- --no-progress

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.65.2
      - uses: taiga-family/ci/actions/setup/variables@v1.65.2
      - uses: taiga-family/ci/actions/setup/node@v1.65.2
      - run: npm run prettier -- --write

  stylelint:
    runs-on: ubuntu-latest
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.65.2
      - uses: taiga-family/ci/actions/setup/variables@v1.65.2
      - uses: taiga-family/ci/actions/setup/node@v1.65.2
      - run: npm run stylelint -- --fix

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.65.2
      - uses: taiga-family/ci/actions/setup/variables@v1.65.2
      - uses: taiga-family/ci/actions/setup/node@v1.65.2
      - run: npm run lint -- --fix

  result:
    needs: [prettier, eslint, stylelint, cspell, typecheck]
    runs-on: ubuntu-latest
    name: Lint result
    steps:
      - run: echo "Success"

concurrency:
  group: lint-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
