<div
    appearance="outline-grayscale"
    tuiCardLarge="normal"
    class="card"
>
    <header tuiHeader>
        <h2
            tuiTitle
            [style.text-align]="'center'"
        >
            Sign up
        </h2>
    </header>
    <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
    >
        <tui-textfield class="block-input">
            <label tuiLabel>email</label>
            <input
                formControlName="email"
                tuiInput
                type="email"
            />
        </tui-textfield>

        <tui-error
            formControlName="email"
            [style.margin-bottom]="'0.8rem'"
            [style.margin-right]="'auto'"
        />

        <tui-textfield class="block-input">
            <label tuiLabel>password</label>
            <input
                formControlName="password"
                tuiInput
                type="password"
            />
            <tui-icon tuiPassword />
        </tui-textfield>
        <tui-error
            formControlName="password"
            [style.margin-bottom]="'0.8rem'"
            [style.margin-right]="'auto'"
        />
        <tui-textfield class="block-input">
            <label tuiLabel>confirm password</label>
            <input
                formControlName="confirmPassword"
                tuiInput
                type="password"
            />
            <tui-icon tuiPassword />
        </tui-textfield>
        <tui-error
            formControlName="confirmPassword"
            [style.margin-bottom]="'0.8rem'"
            [style.margin-right]="'auto'"
        />
        <tui-error
            class="error-passwords"
            [formGroup]="form"
        />
        <div class="under-password">
            <label tuiLabel>
                <input
                    checked
                    formControlName="rememberMe"
                    tuiCheckbox
                    type="checkbox"
                />
                <span
                    tuiTitle
                    [style.color]="'var(--tui-text-secondary)'"
                >
                    Remember me
                </span>
            </label>
        </div>
        <tui-loader
            [inheritColor]="true"
            [loading]="submitLoader()"
            [overlay]="true"
            [style.width]="'100%'"
        >
            <button
                size="m"
                tuiButton
                type="submit"
                [style.width]="'100%'"
            >
                Sign up
            </button>
        </tui-loader>
        <div class="or">
            <hr class="line" />
            <p
                tuiSubtitle
                class="divider-text"
            >
                or
            </p>
            <hr class="line" />
        </div>
        <p class="icons-title">Sign up with</p>
        <div class="icons">
            <button
                appearance="icon"
                tuiButton
                type="button"
                class="icon-sign-up"
            >
                <img
                    alt="google icon"
                    src="./google.svg"
                    class="icon-sign-up"
                />
            </button>
            <button
                appearance="icon"
                tuiButton
                type="button"
                class="icon-sign-up"
            >
                <img
                    alt="github icon"
                    src="./github-mark.svg"
                    class="icon-sign-up"
                />
            </button>
            <button
                appearance="icon"
                tuiButton
                type="button"
                class="icon-sign-up"
            >
                <img
                    alt="apple icon"
                    src="./apple.svg"
                    class="icon-sign-up"
                />
            </button>
        </div>
        <a
            tuiLink
            class="center"
            [style.margin-top]="'0.5rem'"
        >
            Already have an account?
            <span [style.font-weight]="'500'">Login</span>
        </a>
    </form>
</div>
