<div
    class="list-colors"
    [attr.tuiTheme]
>
    <div tuiHeader="m">
        <h3 tuiTitle>Colors</h3>
    </div>
    @for (InputColor of themeSwitcherService; track $index) {
        <tui-input-color
            tuiTextfieldSize="m"
            [colors]="palette"
            [(ngModel)]="colors[$index]"
        >
            {{ InputColor.name }}
        </tui-input-color>
    }
    <code>
        :root {{ '{' }}
        @for (InputColor of themeSwitcherService; track $index) {
            <br />
            {{ InputColor.property }}: {{ colors[$index] }};
        }
        <br />
        {{ '}' }}
    </code>
</div>
<div
    tuiAppearance="whiteblock"
    tuiCardLarge="normal"
    class="example-block"
>
    <div tuiHeader="l">
        <h3 tuiTitle>
            Title example
            <div tuiSubtitle>Subtitle example</div>
        </h3>
    </div>
    <tui-input-number
        tuiHintContent="Dollar sign is commonly placed BEFORE the amount. Use [prefix]."
        [formControl]="exampleControl"
        [tuiTextfieldPrefix]="'USD' | tuiCurrency"
    >
        Type a sum
    </tui-input-number>
    <tui-input-year [tuiTextfieldCleaner]="true">
        Choose a year
        <input
            placeholder="Not 2022 please"
            tuiTextfieldLegacy
        />
    </tui-input-year>
    <div class="tui-row">
        <div class="tui-col_md-4">
            <tui-island>
                <h3 class="tui-island__title">Title</h3>
                <p class="tui-island__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
                <button
                    appearance="flat"
                    size="m"
                    tuiButton
                    type="button"
                    class="tui-island__footer-button"
                >
                    Button
                </button>
            </tui-island>
        </div>
        <div class="tui-col_md-4">
            <tui-island>
                <div class="tui-island__content">
                    <figure class="tui-island__figure">
                        <div class="some-figure"></div>
                    </figure>
                    <div>
                        <p class="tui-island__paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </p>
                        <p class="tui-island__paragraph tui-island__paragraph_link">
                            <a
                                href="/"
                                tuiLink
                            >
                                Fill some papers
                            </a>
                        </p>
                    </div>
                </div>
            </tui-island>
        </div>
        <div class="tui-col_md-4">
            <tui-island>
                <p class="tui-island__category">category</p>
                <h3 class="tui-island__title">Some heading</h3>
                <p class="tui-island__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
                <p class="tui-island__paragraph tui-island__paragraph_link">
                    <a
                        href="/"
                        tuiLink
                    >
                        Link
                    </a>
                </p>
            </tui-island>
        </div>
    </div>
</div>
