<div
    tuiCarouselButtons
    class="wrapper"
>
    <button
        iconStart="@tui.chevron-left"
        tuiIconButton
        type="button"
        (click)="carousel.prev()"
    ></button>

    <tui-carousel
        #carousel
        [draggable]="false"
        [itemsCount]="3"
        [(index)]="index"
    >
        @for (item of listFilmsService; track $index) {
            <div
                *tuiItem
                draggable="false"
                class="item"
                [class.item_active]="$index === open"
                [ngStyle]="{'background-image': 'url(' + item.img + ')'}"
                (click)="openFilm($index)"
            ></div>
        }
    </tui-carousel>
    <button
        iconStart="@tui.chevron-right"
        tuiIconButton
        type="button"
        (click)="carousel.next()"
    >
        Next
    </button>
</div>
@if (open !== -1) {
    @let item = listFilmsService[open];
    <hr />
    <div
        tuiSurface
        class="block-info"
    >
        <div class="info">
            <header tuiHeader="l">
                <h2 tuiTitle>
                    {{ item.title }}
                </h2>
            </header>
            <div class="info-small">
                <p
                    class="tui-space_top-0 tui-space_bottom-0"
                    [style.color]="'var(--tui-status-positive)'"
                    [style.font-weight]="'800'"
                >
                    {{ item.rating }}
                </p>
                <p
                    class="tui-space_top-0 tui-space_bottom-0"
                    [style.font-weight]="'300'"
                >
                    {{ item.year }}, {{ item.genre }}
                </p>
                <p
                    class="tui-space_top-0 tui-space_bottom-0"
                    [style.font-weight]="'300'"
                >
                    {{ item.country }}
                </p>
                <p
                    class="tui-space_top-0 tui-space_bottom-0"
                    [style.font-weight]="'300'"
                >
                    {{ item.durationMinutes * 1000 * 60 | date: 'H:mm' : 'UTC' }}
                </p>
                <p
                    class="tui-space_top-0 tui-space_bottom-0"
                    [style.font-weight]="'300'"
                >
                    {{ item.restrictionsYears }}+
                </p>
            </div>
            <header
                tuiHeader="m"
                class="tui-space_top-4"
            >
                <h3
                    tuiTitle
                    [style.font-size]="'1.6rem'"
                    [style.font-weight]="'300'"
                    [style.max-width]="'35rem'"
                >
                    {{ item.description }}
                </h3>
            </header>
            <button
                appearance="primary"
                tuiButton
                class="button-watch"
            >
                Watch
            </button>
        </div>
        <div
            class="background-img"
            [ngStyle]="{'background-image': 'url(' + item.img + ')'}"
        ></div>
    </div>
}
