@import '@taiga-ui/core/styles/taiga-ui-local.less';

.wrapper {
    display: flex;
    align-items: center;
}

.button {
    width: 1rem;
    height: 1rem;
}

.item {
    .transition(~'box-shadow, transform');

    display: block;
    padding: 1rem;
    border-radius: 1rem;
    background-position: center;
    height: 10rem;
    margin: 2rem 1rem;

    &:hover {
        box-shadow: var(--tui-shadow-medium);
        transform: scale(1.1);
    }

    &_active {
        position: relative;
        outline: 0.5rem solid var(--tui-background-accent-opposite-hover);
    }

    &_active::after {
        content: '';
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: -2.3rem;
        transform: translateX(-50%);
        border: 1rem solid transparent;
        border-top: 1rem solid var(--tui-background-accent-opposite-hover);
    }
}
