<header tuiNavigationHeader>
    <button
        appearance="secondary"
        iconStart="@tui.layout-grid"
        tuiIconButton
        type="button"
    >
        Menu
    </button>
    <span tuiNavigationLogo>
        <tui-icon icon="@tui.home" />
        <span tuiFade>Taiga lumbermill</span>
    </span>
    <button
        appearance="secondary"
        tuiButton
        tuiChevron
        type="button"
        [tuiDropdown]="products"
        [(tuiDropdownOpen)]="openTheme"
    >
        <span tuiFade>{{ themeService.theme }}</span>
        <ng-template #products>
            <tui-data-list size="s">
                @for (theme of themeService.themes; track $index) {
                    <button
                        tuiOption
                        type="button"
                        [value]="theme"
                        (click)="chooseTheme(theme)"
                    >
                        {{ theme }}
                        <tui-icon
                            *ngIf="themeService.theme === theme"
                            icon="@tui.check"
                            [style.font-size.em]="1"
                            [style.margin-left.rem]="0.5"
                        />
                    </button>
                }
            </tui-data-list>
        </ng-template>
    </button>
    <hr />
</header>
<div [style.display]="'flex'">
    <aside
        *ngIf="!(mobile$ | async)"
        class="aside-bar"
        [tuiNavigationAside]="expanded"
    >
        <header>
            <a
                iconStart="@tui.home"
                routerLink="/"
                tuiAsideItem
            >
                <span tuiFade>Taiga lumbermill</span>
            </a>
        </header>
        <a
            iconStart="@tui.palette"
            routerLink="/theme"
            tuiAsideItem
        >
            Theme Generator
        </a>
        <footer>
            <button
                tuiAsideItem
                type="button"
                [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
                (click)="expanded = !expanded"
            >
                {{ expanded ? 'Collapse' : 'Expand' }}
            </button>
        </footer>
    </aside>
    <main tuiNavigationMain>
        <router-outlet [style.display]="'none'" />
    </main>
</div>
