<header tuiNavigationHeader>
    <button
        appearance="secondary"
        iconStart="@tui.layout-grid"
        tuiDropdownOpen
        tuiIconButton
        type="button"
        [tuiDropdown]="menu"
    >
        Menu
        <ng-template #menu>
            <tui-data-list
                *ngIf="mobile$ | async"
                size="s"
            >
                <button
                    iconStart="@tui.palette"
                    routerLink="/theme"
                    tuiOption
                >
                    Theme Generator
                </button>
                <button
                    iconStart="@tui.layout-dashboard"
                    routerLink="/dashboards/iot"
                    tuiOption
                >
                    Iot dashboard
                </button>
                <button
                    iconStart="@tui.layout-dashboard"
                    routerLink="/dashboards/crypto"
                    tuiOption
                >
                    Crypto dashboard
                </button>
                <button
                    iconStart="@tui.log-in"
                    routerLink="/theme"
                    tuiOption
                >
                    Log in
                </button>
                <button
                    iconStart="@tui.key-round"
                    routerLink="/theme"
                    tuiOption
                >
                    Sign up
                </button>
            </tui-data-list>
        </ng-template>
    </button>
    <span tuiNavigationLogo>
        <tui-icon icon="@tui.home" />
        <span tuiFade>Taiga lumbermill</span>
    </span>
    <button
        appearance="secondary"
        tuiButton
        tuiChevron
        type="button"
        [tuiDropdown]="theme"
        [(tuiDropdownOpen)]="openTheme"
    >
        <span tuiFade>{{ themeService.theme }}</span>
        <ng-template #theme>
            <tui-data-list size="s">
                @for (theme of themeService.themes; track $index) {
                    <button
                        tuiOption
                        type="button"
                        [value]="theme"
                        (click)="chooseTheme(theme)"
                    >
                        {{ theme }}
                        <tui-icon
                            *ngIf="themeService.theme === theme"
                            icon="@tui.check"
                            [style.font-size.em]="1"
                            [style.margin-left.rem]="0.5"
                        />
                    </button>
                }
            </tui-data-list>
        </ng-template>
    </button>
    <hr />
</header>
<div [style.display]="'flex'">
    <aside
        *ngIf="!(mobile$ | async)"
        class="aside-bar"
        [tuiNavigationAside]="expanded"
    >
        <header>
            <button
                iconStart="@tui.home"
                routerLink="/"
                tuiAsideItem
            >
                <span tuiFade>Taiga lumbermill</span>
            </button>
        </header>
        <button
            iconStart="@tui.palette"
            routerLink="/theme"
            tuiAsideItem
        >
            Theme Generator
        </button>
        <tui-aside-group>
            <button
                iconStart="@tui.layout-dashboard"
                tuiAsideItem
                tuiChevron
            >
                Dashboards
                <ng-template>
                    <button
                        routerLink="/dashboards/iot"
                        tuiAsideItem
                    >
                        IOT
                    </button>
                    <button
                        routerLink="/dashboards/crypto"
                        tuiAsideItem
                    >
                        Crypto
                    </button>
                </ng-template>
            </button>
        </tui-aside-group>
        <button
            iconStart="@tui.log-in"
            routerLink="/theme"
            tuiAsideItem
        >
            Log in
        </button>
        <button
            iconStart="@tui.key-round"
            routerLink="/theme"
            tuiAsideItem
        >
            Sign up
        </button>
        <footer>
            <button
                tuiAsideItem
                type="button"
                [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
                (click)="expanded = !expanded"
            >
                {{ expanded ? 'Collapse' : 'Expand' }}
            </button>
        </footer>
    </aside>
    <main tuiNavigationMain>
        <router-outlet [style.display]="'none'" />
    </main>
</div>
