<header tuiNavigationHeader>
    <button
        appearance="secondary"
        iconStart="@tui.layout-grid"
        tuiIconButton
    >
        Menu
    </button>
    <span tuiNavigationLogo>
        <tui-icon icon="@tui.home" />
        <span tuiFade>Taiga lumbermill</span>
    </span>
    <button
        appearance="secondary"
        tuiButton
        tuiChevron
        [tuiDropdown]="products"
        [(tuiDropdownOpen)]="openTheme"
    >
        <span tuiFade>{{ themeService.theme }}</span>
        <ng-template #products>
            <tui-data-list size="s">
                @for (theme of themeService.themes; track $index) {
                    <button
                        tuiOption
                        [value]="theme"
                        (click)="chooseTheme(theme)"
                    >
                        {{ theme }}
                        <tui-icon
                            *ngIf="themeService.theme === theme"
                            icon="@tui.check"
                            [style.font-size.em]="1"
                            [style.margin-left.rem]="0.5"
                        />
                    </button>
                }
            </tui-data-list>
        </ng-template>
    </button>
    <hr />
</header>
<div [style.display]="'flex'">
    <aside
        *ngIf="!(mobile$ | async)"
        class="aside-bar"
        [tuiNavigationAside]="expanded"
    >
        <header>
            <button
                iconStart="@tui.home"
                tuiAsideItem
            >
                <span tuiFade>Taiga lumbermill</span>
            </button>
        </header>
        <button
            iconStart="@tui.search"
            tuiAsideItem
        >
            Search
        </button>
        <a
            iconStart="@tui.users"
            tuiAsideItem
        >
            Groups
        </a>
        <button
            iconStart="@tui.settings"
            tuiAsideItem
            [tuiAppearanceState]="open ? 'hover' : null"
            [tuiChevron]="expanded && submenu"
            [tuiDropdown]="dropdown"
            [tuiDropdownEnabled]="!expanded"
            [(tuiDropdownOpen)]="open"
            (click)="submenu = expanded && !submenu"
        >
            Settings
            <ng-template #dropdown>
                <tui-data-list size="s">
                    <button tuiOption>Account</button>
                    <button tuiOption>Notifications</button>
                    <button tuiOption>Privacy</button>
                </tui-data-list>
            </ng-template>
        </button>
        <tui-expand [expanded]="expanded && submenu">
            <button tuiButton>Account</button>
            <button tuiButton>Notifications</button>
            <button tuiButton>Privacy</button>
        </tui-expand>
        <button
            iconStart="@tui.heart"
            tuiAsideItem
        >
            <span tuiFade>By default ellipsis is used but you can use fade too</span>
        </button>
        <hr />
        <a
            iconStart="@tui.plus"
            routerLink="/dashboards/theme"
            tuiAsideItem
        >
            Add Theme
        </a>
        <footer>
            <button
                iconStart="@tui.star"
                tuiAsideItem
            >
                Favorites
            </button>
            <button
                tuiAsideItem
                [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
                (click)="expanded = !expanded"
            >
                {{ expanded ? 'Collapse' : 'Expand' }}
            </button>
        </footer>
    </aside>
    <main tuiNavigationMain>
        <router-outlet />
    </main>
</div>
